// 覆盖 antd UI 组件库样式；
// global
.ant-pro-layout-content {
  padding: 0 !important;
}

.ant-pro-top-nav-header-logo {
  & > a > h1 {
    font-size: 22px !important;
    font-weight: 700 !important;
  }
}

.ant-pro-base-menu-item-text {
  color: @primary-color;
}

.ant-menu-submenu-selected,
.ant-menu-item-selected {
  font-weight: bold;
}

.ant-pro-layout-container {
  background: #effafa;
}
// .ant-menu,
// .ant-menu-sub,
// .ant-menu-inline {
//   background-color: #fff !important;
// }
