// 常用布局
.flex {
  display: flex;
}

.flexWarp {
  flex-wrap: wrap;
}

.flexItemCenter {
  display: flex;
  align-items: center;
}

.flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexCloumnBetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ellipsis {
  width: value;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// 文字省略号
.ellipsis2 {
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  display: box;
  -webkit-box-orient: vertical;
}

// 宫格布局
.grid(@num:3, @width: 12px) {
  display: grid;
  grid-gap: @width;
  grid-template-columns: repeat(@num, 1fr);
}

.flyBtn {
  width: 296px;
  height: 48px;
  background: @primary-color;
  border-radius: 16px;
  opacity: 0.75;
}
.flyBtnFn() {
  width: 296px;
  height: 48px;
  background: @primary-color;
  border-radius: 16px;
  opacity: 0.75;
}
