.fly-base-modal {
  .ant-modal-content {
    border-radius: 30px;
  }

  .ant-modal-footer {
    padding: 10px 24px;
  }

  .ant-modal-body {
  }

  &-footer {
    display: flex;
    justify-content: center;
  }
}
